<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
    </div>

    <nav class="sidebar-nav" aria-label="Main navigation">
      <a class="sidebar-nav-item{% if page.url == '/' or page.url == '/about/' %} active{% endif %}" href="/">about</a>
      <a class="sidebar-nav-item{% if page.url contains '/work/' %} active{% endif %}" href="/work/">work</a>
      <a class="sidebar-nav-item{% if page.url contains '/academics/' %} active{% endif %}" href="/academics/">academia</a>
      <a class="sidebar-nav-item{% if page.url contains '/talks/' %} active{% endif %}" href="/talks/">podcasts & talks</a>
      <a class="sidebar-nav-item{% if page.url contains '/blog/' %} active{% endif %}" href="/blog/">blog</a>
    </nav>
  </div>
</div>